@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: #8599fd7b;
}
/* Fondo general */
body {
    background-color: #e0e0e0; /* gris claro */
    font-family: Arial, sans-serif;
}


/* Contenedor principal */
.PantallaTablas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 15px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between;
}

/* Tabla de revisión */
.tabla_Revision {
    width: 100%;
    height: 70vh;
    max-width: 100%;
    overflow: auto;
    background-color: #f9f9f9;
    border: 3px solid #333;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    touch-action: auto;
}


.tabla_Revision table {
    width: max-content;
    /* min-width: 2500px; ajustá según la cantidad de columnas */
    border-collapse: collapse;
}

.tabla_Revision th {
    font-size: 2vh;
    padding: 0px 15px;
}

/* Tabla de control */
.tabla_Control {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20vh;
    max-width: 80%;
    background-color: #d3d3d3;
    border: 3px solid #333;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tabla_descarte th {
    background-color: #444;
    color: white;
    /* display: flex; */
    height: 40%;
    padding: 10px;
    font-size: 3vh;
}

.tabla_descarte td{
    height: 100%;
    width: 100px;
    background-color: white;
}

.cuadro_Matriceria{
  width: 20%;
  height: 100%;
  background-color: #b3a2a2;
  border: 2px solid black;
  padding: 12px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  font-weight: bold;
  flex-direction: column;
  color: white;

  span.contenedor{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: beige;
  }
  span.contenedor.highlight{
    background-color: #002aff7b;
  }
} 

/* Tabla interna Moldes en Uso */
.tabla_MoldesUso {
    width: auto;
    border-collapse: collapse;
    text-align: center;
}

.tabla_MoldesUso th {
    background-color: #444;
    color: white;
    /* padding: 10px; */
    height: 10%;
    font-size: 3vh;
    /* display: flex; */
    /* width: 40%; */
}

.tabla_MoldesUso td {
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

/* Celdas de la tabla principal */
.contenedor {
    background-color: beige;
    width: 120px;
    height: 8vh;
    text-align: center;
    
}

.contenedor.highlight{
        background-color: #002aff7b;
    }

/* Fichas */
.FichaMolde1 {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    border: 2px solid black;
    background-color: white;
    font-size: 1vh;

    
}

#info{
    background-color: antiquewhite;
    border: 2px solid black;
    width: 10vw;
    height: 7vh;
    font-size: 1.5vh;
    text-align: center;
    padding: 1vh 0 0 0;
    /* text-decoration:solid; */
    font-weight: 600;
}

.MenuBotones{
  border: 2px solid black;
  width: 20vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0px;
  span{
    display: flex;
    flex-direction: row;
  }
  
  .boton{
    width: 60%;
    height: 60%;
    display: flex;
    font-size: 2vh;
  }
  
  h1{
    font-size: 2vh;
  }
}

.FichaMolde1.estilosFichaContTablaRevision{
        color: black;
        border: 2px solid black;
        width: 120px;
        height: 100px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2vh;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        /* background-color: greenyellow; */
        /* // nuevaFicha.style.fontWeight = "500"; */
}

/* #modal{
    
    /* display: flex; */
    /* flex-direction: row; 
} */